
<nav id="sidebar">
    <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(/Templates/sidebar-01/images/logo.jpg); "></a>
        <ul class="list-unstyled components mb-5">
            
            <li><a href="/Profile/ProfileList/">Profilim</a></li>
            <li><a href="/About/AboutList/">Hakkımda</a></li>
            <li><a href="/Feature/FeatureList/">Özelliklerim</a></li>
            <li><a href="/Skill/SkillList/">Yetenekler</a></li>
            <li><a href="/Category/CategoryList/">Kategoriler</a></li>
            <li><a href="/SocialMedia/SocialMediaList/">Sosyal Medya</a></li>
            <li><a href="/Service/ServiceList/">Hizmetler</a></li>
            <li><a href="/Statistic/StatisticList/">İstatistikler</a></li>
            <li><a href="/Project/ProjectList">Projeler</a></li>
            <li><a href="/Testimonial/TestimonialList/">Referanslar</a></li>
            <li><a href="/Address/AddressList/">İletişim Bilgileri</a></li>
            <li><a href="/Contact/MessageList/">Gelen Mesajlar</a></li>
            <li><a href="#">Ayarlar</a></li>
            <li><a href="/Login/LogOut/">Çıkış Yap</a></li>
        </ul>

        <div class="footer">
            <p>
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script><br /> Tüm hakları saklıdır 
            </p>
        </div>

    </div>
</nav>
