
@{
    ViewBag.Title = "CreateSkill";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yetenek Girişi</h2>


<br />
<div class="container">
    <form method="post" action="/Skill/CreateSkill/">
        <br />
        <label>Yetenek Adı</label>
        <input type="text" name="SkillTitle" class="form-control" />
        <br />
        <label>Yetenek Oranı</label>
        <input type="text" name="SkillValue" class="form-control" />
        <br />

        <button class="btn btn-primary">Kaydet</button>
    </form>
</div>