@model List<DevFolio.Models.TblSkill>

@{
    ViewBag.Title = "SkillList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yetenekler Listesi</h2>
<div class="container">
    <br />
    <a href="/Skill/CreateSkill/" class="btn btn-info">Yeni Yetenek Gir</a>
    <br />
    <br />
    

    <table class="table table-bordered">
        <tr class="table-secondary">
            <th>#</th>
            <th>Başlık</th>
            <th>Oran</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>

        @foreach (var item in Model)
        {


            <tr>
                <td>@item.SkillID</td>
                <td>@item.SkillTitle</td>
                <td><span class="badge bg-secondary" style="color:white">@item.SkillValue</span></td>
                <td><a href="/Skill/DeleteSkill/@item.SkillID" class="btn btn-warning">Sil</a></td>
                <td><a href="/Skill/UpdateSkill/@item.SkillID" class="btn btn-success">Güncelle</a></td>
            </tr>
        }


    </table>
</div>