@model List<DevFolio.Models.TblSocialMedia>

@{
    ViewBag.Title = "SocialMediaList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Sosyal Medya Listesi</h2>

<div class="container">
    <a href="/SocialMedia/CreateSocialMedia/" class="btn btn-info">Yeni Sosyal Medya Girişi</a>
    <br />
    <br />
    <table class="table table-bordered">
        <tr class="table-secondary">
            <th>#</th>
            <th>Başlık</th>
            <th>Durum</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>

        @foreach (var item in Model)
        {
            string durum = "";
            if (item.Status == false)
            {
                durum = "bg-danger";
            }
            else
            {
                durum = "bg-secondary";
            }

    <tr>
        <td>@item.SocialMediaID</td>
        <td>@item.PlatformName</td>
        <td><a href="/SocialMedia/StatusChangeSocialMedia/@item.SocialMediaID"> <span class="badge @durum" style="color:white">@item.Status</span></a></td>
        <td><a href="/SocialMedia/DeleteSocialMedia/@item.SocialMediaID" class="btn btn-warning">Sil</a></td>
        <td><a href="/SocialMedia/UpdateSocialMedia/@item.SocialMediaID" class="btn btn-success">Güncelle</a></td>
    </tr>
        }


    </table>
</div>