@model DevFolio.Models.TblAddress
@{
    ViewBag.Title = "CreateAddress";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Adres Ekle</h2>

<br />
<div class="container">

    @if (ViewBag.countAddress > 0)
    {
        <div class="alert alert-danger d-flex align-items-center" role="alert">
            <div class="row d-flex align-items-center ">
                <div class="col">
                    Sadece bir adet adres olabilir.Lütfen mevcut adresi silin veya güncelleyin.
                </div>
                <div class="w-100"></div>
                <div class="col">
                    <a href="/Address/AddressList/" class="btn btn-danger">Geri dön</a>

                </div>
            </div>
        </div>

    }
    else
    {

        using (Html.BeginForm("CreateAddress", "Address", FormMethod.Post))
        {
            <form class="form-group" method="post">
                <label>Açıklama</label>

                @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
                <br />
                <label>Adres</label>
                @Html.TextBoxFor(x => x.Location, new { @class = "form-control" })
                <br />
                <label>E-Mail</label>
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                <br />

                <label>Telefon</label>
                @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
                <br />

                <button class="btn btn-primary">Kaydet</button>
            </form>

        }
    }
</div>


